<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= oeuvre.name %> | AsyncMuseum</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
  <header class="">
    <nav class="flex bg-black">
      <div class="flex mx-5 py-4 items-center max-w-7xl mx-auto justify-between w-full">
        <h1 class="text-3xl text-white font-bold"><span class="text-orange-800">Async</span> Museum</h1>
        <ul class="flex *:hover:text-orange-800 text-white gap-14">
          <li><a href="/">Home</a></li>
          <li><a href="/exhibits">Exhibition</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact us</a></li>
        </ul>
        <a href="" class="bg-orange-800 px-5 py-2 rounded-lg text-white font-semibold">Voir les Exhibition</a>
      </div>
    </nav>
  </header>
  <main>
    <div class=" py-10 max-w-7xl mx-auto">
        <div class="flex grap-10">
            <img class="h-120 w-3/7" src=<%= oeuvre.image %> alt="">
            <div class="w-3/7 p-5 flex flex-col justify-between">
                <h1 class="text-2xl font-semibold"> <%= oeuvre.name %></h1>
                <p class="text-lg"> <span class=" font-bold">Description<br></span> <%= oeuvre.info %></p>
                <p><span class="font-bold">Auteur(e) <br></span> <%= oeuvre.auteur %> </p>
            </div>
        </div>
    </div>
  </main>
</body>

</html>